@import 'tailwindcss';

@theme {
  --color-nigreydo: #2a2a2ae5;
  --color-nigredo: #000813;
  --color-albedo: #fafafae5;
  --color-citrinitas: #ffe989e5;
  --color-rubedo: #dc282de5;
  --color-surface: var(--color-surface);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);

  --animate-bounce: bounce 1s infinite;
  --animate-bounce-low: bounce-low 2s;
  --animate-bounce-high: bounce-high 1s infinite;
  --animate-bounce-slow: bounce 3s infinite;
  --animate-bounce-once: bounce-once 1.2s forwards;
  --animate-fade-in: fade-in 1.2s ease-out;

  --transition-duration-5000: 5000ms;

  --animate-blink: blink 2s step-start infinite;

  @keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
    }
    50% {
      transform: translateY(0);
    }
  }
  @keyframes bounce-low {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  @keyframes bounce-high {
    0%,
    100% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(0);
    }
  }
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    60% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    80% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-0.25rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}